<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
  <link rel="icon" href="{{ site.baseurl }}/images/logo.png">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat" rel="stylesheet">
  <title>{{ site.name }}{% if page.title %} | {{ page.title }}{% endif %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>

<body>
  <div class="top-bar"></div>
  <header>
    <h1>lester lee & hci</h1>
    <img src="{{ site.baseurl }}/images/logo.png" alt="Lester Lee Monogram">
    <ul>
      <li><a href="{{ site.baseurl }}/">Home<a></a></li>
      <li><a href="{{ site.baseurl }}/about/">About</a></li>
    </ul>
    <span id="copyright">© Copyright 2017-{{ 'now' | date: "%Y" }} Lester Lee</span>

    <nav>
    </nav>
  </header>
  <div class="posts">
      {{ content }}
  </div>
</body>

</html>
